<li class="question-list-item">
  {{#link-to 'question' question.id}}
    <span class="title">{{question.content}}</span><span class="byline"><em> BY {{question.author}}</em>Date: {{question.date}}</span>
  {{/link-to}}
  </li>
